* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

/* ================= APP LAYOUT ================= */
.app {
  display: flex;
  height: 100vh;
}

/* MAIN AREA */
.main {
  margin-left: 280px;
  flex: 1;

  display: flex;
  flex-direction: column;
}

/* CONTENT AREA */
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}